:root {
  --primary-yellow: #FDD121;
  --secondary-yellow: #F2C202;
  --primary-blue: #3b82f6;
  --secondary-blue: #2563eb;
  --primary-green: #10b981;
  --secondary-green: #0D9668;
  --primary-red: #ef4444;
  --secondary-red: #dc2626;
  --primary-gray: #475569;
  --primary-white: #cbd5e1;
  --primary-black: #1e293b;
}
